/***  recipe details  ***/
.add-bites{
    .common-head{
        // background: $bg3;
        align-items: center;
        .ch-right{
            font-size: 16px;
        }
    }
    .common-inner{
        padding: 20px 20px 90px;
        .user-head-right{
            display: none;
        }
        .add-bites-btm{
            padding: 15px 20px;
            .q-btn{
                width: 47%;
            }
        }
        .add-loc{
            font-size: 18px;
            display: flex;
            text-transform: capitalize;
            .q-img{
                width: 25px;
                margin-right: 10px;
            }
        }
        .add-vlog-form{
          .q-field{
            background: #f6f6f6;
            .q-field__inner{
              .q-field__control{
                
                .q-field__control-container{
                    padding: 15px;
                    .q-field__native{
                        padding: 0;
                    }
                    .q-field__label{
                        top: 15px;
                        left: 15px;
                    }
                }
              }
            }
          }
          .q-field.q-field--float{
            .q-field__inner{
              .q-field__control{
                .q-field__control-container{
                  .q-field__native{
                    min-height: 30px;
                    line-height: 1;
                  }
                  .q-field__label{
                    display: none;
                  }
                }
              }
            }
          }
          .q-field--error{
            .q-field__bottom{
              bottom: 5px;
            }
          }
        }
    }
}
.detail-title {
    font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    @extend .primary-font-semibold;
    z-index: 1;
    text-transform: capitalize;
}
.edit-option {
    font-size: 20px;
    top: -2px;
}
.detail-title::after {
    position: absolute;
    width: 100%;
    height: 5px;
    background: $bg3;
    content: "";
    left: 0;
    bottom: 4px;
    z-index: -1;
}
.taglist{
    ul{
        padding: 0;
        margin: 0;
        li{
            display: inline-block;
            list-style-type: none;
            margin-right: 10px;
            margin-bottom: 10px;
            .q-btn{
                text-transform: capitalize;
                color: $text-color1 !important;
                @extend .border-radius4;
                i{
                    font-size: 16px;
                }
            }
        }
        li:nth-child(5n+1){
            .q-btn{
                background: $light-green;
            }
        }
        li:nth-child(5n+2){
            .q-btn{
                background: $indigo-2;
            }
        }
        li:nth-child(5n+3){
            .q-btn{
                background: $pink-2;
            }
        }
        li:nth-child(5n+4){
            .q-btn{
                background: $light-blue-2;
            }
        }
        li:nth-child(5n+5){
            .q-btn{
                background: $teal-3;
            }
        }
    }
}

.add-bites-step{
    box-shadow: none;
    .q-stepper__header{
        position: fixed;
        width: 100%;
        z-index: 11;
       display: none;
        .q-stepper__tab{
            min-height: 5px;
            background: rgba(0,0,0,0.2);
            padding: 0;
            border-radius: 0;
            margin-right: 2px;
            margin-top: -5px;
            z-index: 11;
            .q-stepper__dot{
                display: none;
            }
        }
        .q-stepper__tab--active{
            background: $text-color1;
        }
    }
    .q-stepper__content{
        .q-stepper__step-inner{
            padding: 0;
        }
        .seller-form-btm{
            background: $whight; z-index: 11111;
        }
    }
    .q-stepper__nav{
        padding-top: 0;
    }
}


.q-field--error{
    .q-field__append{
        display: none;
    }
    .q-field__bottom{
        bottom: -5px;
    }
}

/***  Bites preview  ***/
.add-bites.bites-preview{
    .common-inner{
        .reaction-box{
            display: none;
        }
        .post-btm{
            display: none;
        }
    }
}

/***  Bites box  ***/
.bites-dis{
    font-size: 18px;
    color: $text-color2;
    p{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: 0;
    }
}
.bites-list{
    .bites-post{
        padding:20px;
    }
    .bites-post:nth-child(5n+1){
        border-bottom: 15px solid $pink-2;
    }
    .bites-post:nth-child(5n+2){
        border-bottom: 15px solid $light-green;
    }
    .bites-post:nth-child(5n+3){
        border-bottom: 15px solid $teal-3;
    }
    .bites-post:nth-child(5n+4){
        border-bottom: 15px solid $light-blue-2;
    }
    .bites-post:nth-child(5n+5){
        border-bottom: 15px solid $indigo-2;
    }
}

/***  media query  ***/
@media only screen and (max-width: 479px) {

}
