/***   Notification page   ***/
.notification{
    .common-head{
        // background: rgba(165,160,236,0.9);
    }
    .common-inner{
        padding: 0px;
        .noti-list{
            .noti-box{
                padding-bottom: 10px;
                padding-top: 10px;
                border-bottom: 1px solid #d2d2d2;
                a{
                    padding: 0 20px;
                    display: flex;
                    .noti-left{
                      .q-img{
                          width: 50px;
                          height: 50px;
                          @extend .border-radius2;
                      }
                      .default-profile-img{
                        @extend .background1;
                        border-radius: 10px;
                        .q-img{
                          .q-img__container{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img{
                              height: auto;
                              width: 60%;
                              border-radius: 0;
                            }
                          }
                        }
                      }
                    }
                    .noti-right{
                        padding-left: 15px;
                        .noti-dis{
                            font-size: 16px;
                        }
                    }
                }
            }
            .noti-box.not-seen{
                background: $bg7;
            }

        }
    }
}

/***  media query  ***/
@media only screen and (max-width: 479px) {

}
